body {
    text-align: center;
}

table {
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin-top: 30px;
    max-width: 50%;
}

td {
    text-align: left;
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: greenyellow;
}
tbody tr:nth-child(odd) {
    background-color: palegreen;
}
tbody tr[class=user] {
    background-color: tomato;
}
thead tr {
    background-color: transparent;
}

button {
    color: lightblue;
    background-color: navy;
    border: none;
    padding: 10px 0px;
    width: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}


button:hover {background-color: mediumslateblue}

button:active {
    background-color: darkcyan;
    transform: translateY(1px);
}

.round-left {
    border-radius: 36px 0px 0px 36px;
}

.round-right {
    border-radius: 0px 36px 36px 0px;
}